* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: 'Norse-Bold';
	src: url('./fonts/Norse-Bold.otf') format('opentype');
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.left-side,
.right-side {
	width: 100%;
}

.left-side {
	background-image: url('img/halie-west-25xggax4bSA-unsplash.jpg');
	background-size: cover;
	background-position: center;
	padding: 2rem 0 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.logo {
	margin-top: 2rem;
	margin-bottom: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 0;
	width: 100%;
}

.logo img {
	height: 100px;
	display: block;
}

.logo p {
	color: #fff;
	font-size: 80px;
	font-family: 'Norse-Bold', sans-serif;
	font-weight: bold;
	margin-left: 20px;
	font-family: 'Norse-Bold', sans-serif;
}

.credits {
	color: white;
	text-align: center;
	margin-top: 2rem;
}

.credits a {
	color: white;
	text-decoration: underline;
}

.right-side {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.title {
	margin-bottom: 2rem;
}

.title p {
	font-size: 1rem;
	text-align: left;
	margin: 0;
}

form h2 {
	margin-bottom: 1rem;
}

.form-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	margin-bottom: 2rem;
}

.form-group-left,
.form-group-right {
	display: flex;
	flex-direction: column;
}

.form-group-left label,
.form-group-right label {
	margin-bottom: 0.5rem;
}

.form-group-right input,
.form-group-left input {
	height: 2rem;
	padding: 0.5rem;
	border: 1px solid #E5E7EB;
	border-radius: 5px;
	font-size: 1rem;
	height: 30px;
}

.form-group-right input:focus,
.form-group-left input:focus{
	outline: none;
	border-color: #3668f1;
	box-shadow: 0 0 4px rgba(100, 100, 100, 0.5);
}

.form-group-left input#password:invalid,
.form-group-right input#confirm-password:invalid {
	border-color: red;
}

.alert {
	color: red;
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

.alert.active {
	display: block;
}

button[type="submit"] {
	width: 100%;
	padding: 1rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	background-color: #596D48;
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
}

.login-link {
	text-align: center;
}

.login-link a {
	color: #596D48;
	text-decoration: none;
}

	@media (min-width: 768px) {
		.container {
			flex-direction: row;
		}

		.left-side,
		.right-side {
			width: 50%;
		}

		.form-wrapper {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 1.5rem;
		}

		.title p {
			font-size: 2rem;
		}
		
		form h2 {
			margin-bottom: 1.5rem;
		}

		.login-link {
			text-align: left;
		}
	}

	@media (min-width: 1024px) {
		.container {
		max-width: 1200px;
		margin: 0 auto;
		}
		.left-side {
			padding: 4rem 0 4rem 0;
		}
		
		.right-side {
			padding: 4rem;
		}
		
		.logo {
			margin-top: 4rem;
			margin-bottom: auto;
		}
		
		.credits {
			margin-bottom: 1rem;
		}
		
		.title {
			margin-bottom: 4rem;
		}
		
		.form-wrapper {
			grid-gap: 2rem;
		}
		
		button[type="submit"] {
			width: auto;
		}
	}		
	
